#Ignore whole aima package but some custom files
EPD6/aima-java-aima3e-v1.9.1/
!**/misioneros
!Misioneros*.java
# ignore some file extensions
*.pdf
*.gif


HOMEWORK3/

EPD5/MaterialAlumnos/main.m
